* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  color: #113A60;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  font-size: 20px;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #113A60;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 110px;
  object-fit: contain;
  margin-right: auto;
}

h1 {
  border-bottom: 5px solid gray;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#DBE0E4;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  color: white;
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: red;
}

nav > a.active {
  color: white;
}

label {
  font-size: 20px;
}

select {
  width: 200px;
  height: 30px;
  border: 2px solid red;
  font-size: 15px;
}

p{
  font-weight: bold;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *, #add-destination-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
  background-color: red;
  color: white;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
  border-bottom: 2px dashed gray;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: red;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  color: white;
}

#list a:hover {
  background-color:#113A60;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-destination-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-destination-form input[type="submit"] {
  width: 10rem;
  grid-column: 2 / 3;
  background-color: red;
  color: white;
}

#add-ticket-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-ticket-form input {
  width: 20rem;
  grid-column: 2 / 3;
  color: #113A60;
  border-radius: 5px;
  height: 30px;
  font-size: 20px;
}


#add-ticket-form input[type="submit"] {
  width: 11rem;
  grid-column: 2 / 3;
  background-color: red;
  color: white;
  border-radius: 5px;
  height: 30px;
  font-size: 20px;
}

#ticket {
  background-color: red;
  color: white;
  border-radius: 5px;
  height: 31px;
  font-size: 20px;
}




